.container
  max-width 100%
  width 1200px
  margin auto

  + .container
    margin-top 100px

  > h2
    text-align center

code
  background #2d2b57
  color #e3dfff
  padding 3px 8px

.note
  border-radius 4px
  background $synthwaveGhost
  border-left 4px solid $primary
  padding 20px

  .note-title
    font-weight bold

.bg-primary.q-card__section
  background $synthwave !important
  color #fff

  a
    color #fff
    text-shadow 0 0 5px rgba(255,255,255,1)