.container
  max-width 100%
  width 1200px
  margin auto

  + .container
    margin-top 100px

.note
  border-radius 4px
  background $synthwaveGhost
  border-left 4px solid $primary
  padding 20px

  .note-title
    font-weight bold

.bg-primary.q-card__section
  background $synthwave !important
  color #fff